html{
    background-color: var(--gray-background-1);
}
/* ---------------------------- */
/* Global */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
input::placeholder{
    color: var(--gray-60);
}
/* ---------------------------- */
/* Forms */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
.input-100{
    width: 100%;
}